/* navbar */
  .navbar {
    background-color: rgb(35, 156, 236);
  }


/* hero */
.hero {
  background-color: rgb(35, 156, 236);
  height: 760px;
}
.hero h1 {
  font-weight: 600;
  color: white;
  position: relative;
  top: 130px;
  font-size: 64px;
  padding: 10px;
  right: 10px;
}

.hero p {
  font-size: 16px;
  color: white;
  position: relative;
  top: 160px;
}

.hero button {
  position: relative;
  top: 160px;
  border-radius: 0;
}

.hero .hero1 {
  position: relative;
  top: 240px;
  left: 2px;
}

.hero .hero2 {
  position: relative;
  top: -220px;
  left: 375px;
  z-index:12;
  top: -44px;
}

.hero .hero3 {
  position: relative;
  top: -780px;
  left: 999px;
  z-index: 13;
}

.hero .hero4 {
  position: relative;
  top: -310px;
  right: 655px;
}

.hero .hero5 {
  position: relative;
  top: -550px;
  right: 235px;
}

.hero .hero6 {
  position: relative;
  top: -450px;
  right: 300px;
}

.hero .hero7 {
  position: relative;
  top: -456px;
  right: 291px;
  
}
.hero .hero8 {
  position: relative;
  top: -460px;
  right: 280px;
  
}
.hero .hero9 {
  position: relative;
  top: -456px;
  right: 270px;
  
}
.hero .hero10 {
  position: relative;
  top: -473px;
  right: 260px;
  
}
/* akhir hero */

/* awal logo */
.logo {
  height: 200px;
  position: relative;
  top: 40px;
}

.logo img {
  padding: 35px;
  position: relative;
  top: 50px;
}
/* akhir logo */

/* measure */
.measure {
  position: relative;
  top: 100px;
}

.measure h2 {
  color: rgba(3, 77, 130, 1);
  font-weight: 700;
  font-size: 36px;
  position: relative;
  top: 150px;
  font-family: DM Sans;
  left: 80px;
}

.measure p {
  font-size: 16px;
  color: #90a3b4;
  position: relative;
  top: 170px;
  font-family: DM Sans;
  left: 80px;
}

.measure button {
  color: rgba(4, 170, 221, 1);
  position: relative;
  top: 180px;
  right: 10px;
  left: 70px;
}

.measure .iphone1 {
  position: relative;
  top: 10px;
}
.measure .iphone2 {
  position: relative;
  top: -530px;
  left: 240px;
}

.measure .vector1 {
  position: relative;
  top: -1000px;
  z-index: -12;
}
/* akhir measure */

/* schedule */
.schedule {
  position: relative;
  top: -850px;
}

.schedule h2 {
  font-family: DM Sans;
  font-size: 36px;
  font-weight: bold;
  color: #034d82;
}

.schedule p {
  font-size: 16px;
  color: #90a3b4;
  position: relative;
  top: 20px;
  font-family: DM Sans;
}

.schedule li {
  color: #90a3b4;
  font-size: 16px;
  font-family: DM Sans;
  position: relative;
  top: 20px;
  padding: 5px;
}

.schedule button {
  font-size: 16px;
  font-family: DM Sans;
  color: rgba(4, 170, 221, 1);
  font-weight: 700;
  position: relative;
  top: 40px;
}

.schedule .top {
  position: relative;
  left: 30px;
  top: 10px;
}

.schedule svg {
  position: relative;
  top: 47px;
}
/* akkhir schedule */

/* trecky */
.trecky {
  background-color: aliceblue;
  position: relative;
  top: -650px;
  height: 670px;
}

.trecky h2 {
  font-family: DM Sans;
  font-size: 36px;
  font-weight: 700;
  color: rgba(3, 77, 130, 1);
  position: relative;
  top: 10px;
}

.trecky p {
  font-family: DM Sans;
  color: #9ec5e5;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: 20px;
}

.trecky .card {
  background-color: white;
  height: 300px;
  position: relative;
  top: 50px;
  border-radius: 20px;
}

.trecky svg {
  width: 50px;
  position: relative;
  top: 30px;
  left: 20px;

}

.trecky .textt {
  color: #8ea9c1;
  font-size: 15px;
  font-family: DM Sans;
  position: relative;
  top: -10px;
  padding: 20px;
}

.trecky h5 {
  color: #034d82;
  font-size: 20px;
  font-weight: bold;
  font-family: DM Sans;
  position: relative;
  top: 15px;
  padding: 20px;
}

.trecky img {
  width: 100px;
  padding: 20px;
  position: relative;
  top: 13px;
}
/* akhir trecky */

/* powering */
.powering {
  position: relative;
  top: -200px;
}

.powering h2 {
  font-size: 36px;
  color: rgba(3, 77, 130, 1);
  font-family: DM Sans;
  font-weight: 700;
  position: relative;
  top: -250px;
}

.powering .p {
  color: #90a3b4;
  font-size: 16px;
  position: relative;
  top: -240px;
}

.powering .p2 {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  color: rgba(144, 163, 180, 1);
  font-style: italic;
  position: relative;
  top: -250px;
  left: 40px;
}

.powering svg {
  position: relative;
  top: -380px;
}

.powering .powering-image {
  width: 56px;
  border-radius: 50%;
  position: relative;
  top: -80px;
  left: 40px;
}

.powering h6 {
  font-size: 20px;
  color: rgba(3, 77, 130, 1);
  font-family: DM Sans;
  font-weight: 700;
  position: relative;
  top: -250px;
  left: 107px;
}

.powering p {
  position: relative;
  top: -258px;
  font-family: DM Sans;
}

.powering .p3 {
  position: relative;
  top: -258px;
  left: 108px;
  color: #90a3b4;
  font-family: DM Sans;
}
/* akhir powering */

/* grow */
.grow .card {
  background-color: rgba(1, 184, 217, 1);
  border-radius: 10px;
  height: 350px;
  position: relative;
  top: -170px;
}

.grow h2 {
  font-family: DM Sans;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  top: 60px;
  left: 50px;
}

.grow .p1 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  position: relative;
  top: 20px;
  left: 50px;
}

.grow svg {
  position: relative;
  left: 170px;
  top: 15px;
}
.grow .p2 {
  font-family: DM Sans;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: 100px;

}

.grow button {
  color: rgba(0, 184, 217, 1);
  height: 50px;
  width: 170px;
  position: relative;
  left: 590px;
  top: -50px;
}

.grow .grow1 {
  border-radius: 50px;
  position: relative;
  top: 130px;
  position: relative;
  left: 50px;
  top: 40px;
}
.grow .grow2 {
  width: 36px;
  border-radius: 50px;
  position: relative;
  top: 130px;
  left: 30px;
}
.grow .grow3 {
  width: 36px;
  border-radius: 50px;
  position: relative;
  top: 130px;
  left: 10px;
}
.grow .grow4 {
  width: 36px;
  border-radius: 50px;
  position: relative;
  top: 130px;
  right: 10px;
}
.grow .grow5 {
  width: 36px;
  border-radius: 50px;
  position: relative;
  top: 130px;
  right: 28px;
}

/* akhir grow */

/* footer */
.footer {
  background-color: rgba(8, 19, 21, 1);
  height: 500px;
}

.footer h5 {
  font-family: DM Sans;
  color: white;
  font-size: 18px;
  position: relative;
  top: 60px;
}

.footer p {
  font-family: DM Sans;
  color: white;
  font-size: 14px;
  position: relative;
  top: 90px;
}

.footer h2 {
  font-weight: 700;
  color: white;
  position: relative;
  top: 50px;
}

.footer svg {
  position: relative;
  left: 74px;
  top: -50px;
}

.footer h6 {
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 140px;
}

.footer .heart {
  position: relative;
  top: 110px;
  background-color: #034d82;
  padding: 15px;
  border-radius: 50%;
}

.footer .icoon1 {
  background-color: #54595a;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  top: -10px;
}

.footer .icoon2 {
  background-color: #54595a;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  top: -10px;
}
.footer .icoon3 {
  background-color: #54595a;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  top: -10px;
}
.footer .icoon4 {
  background-color: #54595a;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  top: -10px;
}
/* akhir footer */
